---
import { Skeleton } from "@/components/ui/skeleton";
---

<div class="w-full h-133 p-6 border border-border rounded-[0.875rem] bg-card">
	<Skeleton className="w-27 h-4 mb-3.75" />
	<Skeleton className="w-30 h-3.75 mb-6" />

	<Skeleton className="w-10 h-3.75 mb-3.5" />
	<Skeleton className="w-full h-9 mb-6" />

	<Skeleton className="w-full xl:w-53 h-3.75 mb-3.5" />
	<Skeleton className="w-full h-9 mb-6" />

	<Skeleton className="w-full h-7.5 mb-4" />
	<Skeleton className="w-full h-32 mb-6" />

	<Skeleton className="w-full h-9" />
</div>