---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<"a"> & {
	class?: string;
};

const { class: className, ...props } = Astro.props;
---

<a 
	{...props}
	class=`font-medium text-base leading-5 tracking-[0.025rem] font-ibm-plex-sans ${className}`
>
	<slot />
</a>
