---
import Heading from "@/components/atoms/typography/content/Heading.astro";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <Heading class="text-center text-[#1f3a5f]">Hello!</Heading>
    <Button>Click me!</Button>
</Layout>
