---
import Heading from "@/atoms/typography/content/Heading.astro";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <Heading class="text-center">Hello!</Heading>
    <Button>Click me!</Button>
</Layout>
