---
import type { ArticleDTO } from "@/dtos/ArticleDTO";
import ContentContainer from "../atoms/contianers/ContentContainer.astro";

export type Props = Pick<ArticleDTO, "tags">;

const { tags } = Astro.props;
---

<footer>
	<ContentContainer>
		<ul>
			{tags.map((tag) => (
				<li>{tag}</li>
			))}
		</ul>
	</ContentContainer>
</footer>
