---
import BaseHead from "@/components/organisms/BaseHead.astro";
import Header from "@/components/organisms/Header.astro";
import { Toaster } from "@/components/ui/sonner";
import "@/styles/global.css";
import { Font } from "astro:assets";

export type Props = {
	title?: string;
};

const { title } = Astro.props;
---

<html lang="pt-BR" class="dark">
	<head>
		<BaseHead title={title} />
		<Font cssVariable="--font-ibm-plex-serif" preload />
		<Font cssVariable="--font-ibm-plex-sans" preload />
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<main class="flex-1 flex flex-col items-center">
			<slot />
		</main>
		<Toaster client:load />
	</body>
</html>
